body {
   background-image: url(https://i.pinimg.com/474x/a6/1c/16/a61c1688e8a85b6f3b553be101c6203f--pink-floyd-quotes-pink-floyd-poster.jpg?b=t);
   background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

audio{
   width: 98%;
}